POSTGRES_CONTAINER_NAME="redirect_postgres"
POSTGRES_DB="redirect_db"
POSTGRES_HOST="localhost"
POSTGRES_PORT="5432"
POSTGRES_USER="admin"
POSTGRES_PASSWORD="root"

REDIS_CONTAINER_NAME="redirect_redis"
REDIS_HOST="localhost"
REDIS_PORT="6379"
REDIS_PASSWORD="root"

RABBITMQ_CONTAINER_NAME="redirect_rabbitmq"
RABBITMQ_HOST="localhost"
RABBITMQ_PORT="5672"
RABBITMQ_MANAGEMENT_PORT="15672"
RABBITMQ_DEFAULT_USER="admin"
RABBITMQ_DEFAULT_PASS="root"

CLICKHOUSE_CONTAINER_NAME="redirect_clickhouse"
CLICKHOUSE_HOST="localhost"
CLICKHOUSE_PORT="8123"
CLICKHOUSE_NATIVE_PORT="9000"
CLICKHOUSE_DB="redirect_db"
CLICKHOUSE_USER="admin"
CLICKHOUSE_PASSWORD="root"
CLICKHOUSE_DEFAULT_ACCESS_MANAGEMENT="1"

IP_API_HOST="http://ip-api.com"
IP_API_TIMEOUT_SECONDS="2"
IP_API_MAX_RETRIES="3"

REDIRECT_PORT="8080"
REDIRECT_TIMEOUT="1s"

BACKEND_PORT="8000"
BACKEND_JWT_ALGORITHM="HS256"
BACKEND_JWT_SECRET_KEY="yNuX#dy=CGY@pvr(l|O^;9}@{&&Ysx^w1jQKF5uaqe3"
BACKEND_ACCESS_TOKEN_EXPIRE_MINUTES="30"
BACKEND_REFRESH_TOKEN_EXPIRE_DAYS="30"
